@page "/admin"
@rendermode InteractiveServer
@using BLL
@using Models

<PageTitle>Admin</PageTitle>
<h1>Admin Page</h1>
<ul>
    <li>Core Available: @coreAvailable</li>
    <li>Throw Error: @throwError</li>
    <li>Delay: @delay</li>
</ul>

<button @onclick="() => ToggleAndReload(SettingsConstants.CoreAvailable)">Toggle Core Available</button>
<button @onclick="() => ToggleAndReload(SettingsConstants.ThrowError)">Toggle Throw Error</button>
<button @onclick="() => ToggleAndReload(SettingsConstants.Delay)">Toggle Delay</button>

@code {
    [Inject] public required AdminBusinessLogic AdminLogic { get; set; }

    private bool coreAvailable;
    private bool throwError;
    private bool delay;

    protected override async Task OnInitializedAsync()
    {
        await ReloadSettings();
    }

    private async Task ReloadSettings()
    {
        coreAvailable = await AdminLogic.GetSetting(SettingsConstants.CoreAvailable);
        throwError = await AdminLogic.GetSetting(SettingsConstants.ThrowError);
        delay = await AdminLogic.GetSetting(SettingsConstants.Delay);
        StateHasChanged();
    }

    private async Task ToggleAndReload(string setting)
    {
        await AdminLogic.ToggleSetting(setting);
        await ReloadSettings();
    }
}