@page "/"
@rendermode InteractiveServer
@using BLL

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="StartWorkflowAsync">Start Workflow</button>


@code {
    [Inject]
    public DemoBusinessLogic BLL { get; set; } = default!;

    private async Task StartWorkflowAsync()
    {
        var newApp = await BLL.CreateApplicationAsync();
        await BLL.SendStartWorkflowCommand(newApp.Id);
        Console.WriteLine($"Start workflow button clicked for application {newApp.Id}");
    }
}